body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.6),
      rgba(39, 32, 68, 0.6)
    ),
    url(/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 280px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 144px;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 3px;
  padding: 16px 32px;
  color: #272044;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  margin: 32px 0;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(/images/footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 40px;
  padding: 100px 170px;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
}

footer a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
  text-decoration: none;
  color: white;
}

section {
  padding: 100px;
  color: #272044;
}

section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}

section h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

section h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.3;
}

section h4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

section h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

section h6 {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
}

section a {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 3px;
  color: white;
  text-transform: uppercase;
  background-color: #462cb2;
  padding: 16px 95px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.container {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.img-responsive {
  max-width: 100%;
}

.about-berlin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

.cafe-cards {
  background-color: #f8f8f8;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.cards div {
  background-color: white;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-body {
  padding: 24px 32px;
}

.card-footer {
  padding: 20px 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

@media (max-width: 900px) {
  header {
    padding: 100px 0;
  }

  header h1 {
    font-size: 48px;
    line-height: 72px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  footer {
    grid-template-columns: 1fr;
    padding: 50px;
    grid-gap: 20px;
  }

  section {
    padding: 50px;
  }

  .about-berlin {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card-header {
    grid-template-columns: 1fr;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  section {
    padding: 10px;
  }

  section h4,
  section h2 {
    font-size: 26px;
    line-height: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
