body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.6),
      rgba(39, 32, 68, 0.6)
    ),
    url(/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 280px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 144px;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 3px;
  padding: 16px 32px;
  color: #272044;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  margin: 32px 0;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(/images/footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 40px;
  padding: 100px 170px;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
}

footer a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
  text-decoration: none;
  color: white;
}

.container {
  display: block;
  margin: 0 auto;
}

@media (max-width: 900px) {
  header {
    padding: 100px 0;
  }

  header h1 {
    font-size: 48px;
    line-height: 72px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  footer {
    padding: 10px 20px;
    grid-gap: 15px;
  }

  footer h3 {
    font-size: 14px;
    line-height: 15px;
  }

  footer p {
    font-size: 12px;
  }

  footer a {
    font-size: 12px;
  }
}
